.menu h3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #FFCE6D;
    font-size: 2.2rem;
    padding-top: 2rem;
}
.menu h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 2rem;
    padding-top: 0.5rem;
}
.menuContainer{
    display: flex;
    justify-content: center;
}
.menuContainer>div{
    margin: 2rem;
}